<div class="Footer">
    <div class="footer-elements">
        <div class="element-group">
            <a href="/">
                <img src="../../../assets/img/votee.svg" alt="votee">
            </a>
            <div class="element-1">
                <h2>The Platform</h2>
                <ul>
                    <li><a href="/">Elections</a></li>
                    <li><a href="/">Services</a></li>
                    <li><a href="/">Features</a></li>
                    <li><a href="/">Pricing</a></li>
                </ul>
            </div>
            <div class="element-2">
                <h2>Resources</h2>
                <ul>
                    <li><a href="/">Contact Us</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">Support</a></li>
                    <li><a href="/">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="icons">
            <ul>
                <li><a href="/"><img src="../../../assets/img/facebook.svg" alt="facebook"></a></li>
                <li><a href="/"><img src="../../../assets/img/twitter.svg" alt="facebook"></a></li>
                <li><a href="/"><img src="../../../assets/img/linkedin-in.svg" alt="facebook"></a></li>
            </ul>
        </div>
    </div>
    <p>© 2021 Votee, Inc. All Rights Reserved</p>
</div>
