<div class="header">
    <a href="/">
        <img src="../../../assets/img/votee.svg" alt="image"/>
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <div class="header-right" >
        <ul class="header-links">
            <li><a routerLink="/">Elections</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Pricing</a></li>
            <app-button color="#2F5D62" text="Sign In"></app-button>
        </ul>
    </div>
</div>
