<div class="Home">
    <div class="section_one">
        <div class="section_one_details">
            <h1>Let Every Vote Count</h1>
            <p>Votee is a platform that gives it clients the 
                most effective way to improve voter engagement, 
                save quality time, create a great voting experience 
                and guarantee election integrity.
            </p>
            <app-button text_color="#C64756" width="300px" color="#FFDEE2" text="Try A Free Election"></app-button>
        </div>
        <div class="section_one_img">
            <img src="../../../assets/img/Voter.svg" alt="voter">
        </div>
    </div>
</div>
