<div class="Home">
    <!-- start of section one -->
    <div class="section_one">
        <div class="section_one_details">
            <h1>Let Every Vote Count</h1>
            <p>Votee is a platform that gives it clients the 
                most effective way to improve voter engagement, 
                save quality time, create a great voting experience 
                and guarantee election integrity.
            </p>
            <app-button text_color="#C64756" width="300px" color="#FFDEE2" text="Try A Free Election"></app-button>
        </div>
        <div class="section_one_img">
            <img src="../../../assets/img/Voter.svg" alt="voter">
        </div>
    </div>
    <!-- end of section one -->

    <!-- start of section two -->
    <div class="section_two">
        <h1>Simple,Powerful and Super Flexible</h1>
        <img src="../../../assets/img/group_1.svg" alt="group_1">
        <p>Elections is our first name and democracy is in our DNA. We are committed to your satisfaction. In fact, 99% of our customers host more than one election. See how the process works.    
        </p>
        <app-button color="#FFFAF1" width="300px" text="Learn more" text_color="#2F5D62" border="1px solid rgb(47,93,98)"></app-button>
    </div>

</div>
