.Home{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.section_one{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.section_one_details{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 8rem;

}
.section_one_details h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #2F5D62;
}
.section_one_details p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #5E5C5C;
}
.section_one_img{
    width: 50%;
}
.section_one_img img{
    width: 110%;
}
/* end of first section */


.section_two{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 8rem;
}
.section_two h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #2F5D62;
}
.section_two img{
    width: 68%;
    margin-bottom: 2rem;
}
.section_two p{
    font-size: 1.5rem;
    color: #5E5C5C;
    width: 65%;
    margin-bottom: 2rem;
}

/* end of section two */

.section_three{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}
.section_three img{
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    margin-bottom: 3rem;
}

.section_three p{
    font-size: 1.4rem;
    color: #5E5C5C;
    width: 75%;
    margin-bottom: 1rem;
}
.section_three h2{
    font-size: 1.1rem;
    color: #5E5C5C;
    font-style: italic;
    font-weight: 600;
}
/* end of section three */


.section_five{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 8rem;
}
.section_five h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #2F5D62;
}
.section_five img{
    width: 40%;
    margin-bottom: 2rem;
}
.section_five p{
    font-size: 1.3rem;
    color: #5E5C5C;
    width: 75%;
    margin-bottom: 2rem;
}

/* media queries */
@media screen and (max-width:600px)
{

}

@media screen and (max-width:900px) and (min-width:600px)
{
    .section_one_details{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
        justify-content: space-between;
        align-items: flex-start; 
        margin-bottom: 4rem;
        margin-top: 4rem;
    
    }
    .section_one_details h1{
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #2F5D62;
    }
    .section_one_details p{
        font-size: 0.9rem;
        margin-bottom: 2rem;
        color: #5E5C5C;
    }

    /* end of section one */
    .section_two h1{
        font-size: 1.7rem;
        margin-bottom: 2rem;
        color: #2F5D62;
    }
    .section_two img{
        width: 65%;
        margin-bottom: 2rem;
    }
    .section_two p{
        font-size: 0.9rem;
        color: #5E5C5C;
        width: 100%;
        margin-bottom: 2rem;
    }

    /* end of section two */

    .section_three p{
        font-size: 1rem;
        color: #5E5C5C;
        width: 85%;
        margin-bottom: 1rem;
    }
    .section_three h2{
        font-size: 0.8rem;
        color: #5E5C5C;
        font-style: italic;
        font-weight: 600;
    }

    /* end of section three */

    .section_five h1{
        font-size: 1.6rem;
        margin-bottom: 2rem;
        color: #2F5D62;
    }
    .section_five img{
        width: 38%;
        margin-bottom: 2rem;
    }
    .section_five p{
        font-size: 0.9rem;
        color: #5E5C5C;
        width: 85%;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width:1200px) and (min-width:900px)
{
    .section_one_details{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 50%;
        justify-content: space-between;
        align-items: flex-start; 
        margin-bottom: 4rem;
    
    }
    .section_one_details h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #2F5D62;
    }
    .section_one_details p{
        font-size: 0.9rem;
        margin-bottom: 2rem;
        color: #5E5C5C;
    }
    .section_one_img{
        width: 50%;
    }
    .section_one_img img{
        width: 110%;
    }
    /* end of section one */

    .section_two h1{
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #2F5D62;
    }
    .section_two img{
        width: 65%;
        margin-bottom: 2rem;
    }
    .section_two p{
        font-size: 1.1rem;
        color: #5E5C5C;
        width: 100%;
        margin-bottom: 2rem;
    }

    /* end of section two */
  
    .section_three p{
        font-size: 1.1rem;
        color: #5E5C5C;
        width: 85%;
        margin-bottom: 1rem;
    }
    .section_three h2{
        font-size: 0.9rem;
        color: #5E5C5C;
        font-style: italic;
        font-weight: 600;
    }

    /* end of section three */

    .section_five h1{
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #2F5D62;
    }
    .section_five img{
        width: 38%;
        margin-bottom: 2rem;
    }
    .section_five p{
        font-size: 1rem;
        color: #5E5C5C;
        width: 75%;
        margin-bottom: 2rem;
    }
}